/* Header Bar */
.navbar{
    height: 3.5em;
    padding : 0.5em 2em;
    //Navigation
    .navbar-nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row !important;
      .btn{
        width: 2.5em;
        height: 2.5em;
        border-radius: 25px;
        padding: 0em;
      }
      
    }
    .btn.btn-menu.btn-secondary{
      transition: none;
      background-color: transparent;
      border: none;
      &:focus{
          box-shadow: none;
      }
  }
  
}
.menu{
  position: absolute;
  z-index: 1040;
  top: 0px;
  left: 0px;
  width: 20em;
  height: 100%;
  background-color: #f8f9fa ;
  border-right: 0.1em solid #d1d1d1;
  list-style-type:none !important;   
  h2{
    font-size: 18px;
    color: blue;
    margin: 1em 0em;
  }
  ul{
    cursor: pointer;
    list-style:none !important;
    margin: 0.5em 0em;
    padding: 0em;
  } 
}
  //Responsive Rules
  #app{
    margin-top: 3.5em;
    font-size: 14px;
  }